body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: url('https://i.ibb.co/1sQXJ4z/page-bg.png');
    background-size: cover;
    color: #fff;
}

.container{
    padding-top: 1rem;
    text-align: center;

}

form{
    margin-top: 1rem;
    text-align: center;
}

.animated {
    margin: 0;
    font-family: 'Charm', Arial, Helvetica, serif;
    font-size: 7rem;
    background: url('https://i.ibb.co/89Cf3dm/text-bg.png') ;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 90s linear infinite;
    -webkit-animation: moveBg 90s linear infinite;
}

@keyframes moveBg{
    0%{
        background-position: 0 30%;
    }
    100%{
        background-position: 100% 15%;
    }
}

#gift {
    margin-top: 2rem;
    text-align: center;
}
#gift img {
    max-width: 40%;
}

label, input {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}